Node Red/flow_send_JSON.json
[{"id":"53cf8e.83fcf874","type":"tab","label":"Thingsboard tester","disabled":false,"info":""},{"id":"3fcdd77f.692da8","type":"http request","z":"53cf8e.83fcf874","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://demo.thingsboard.io/api/v1/Oknje2gw7q2zokGHqr5v/telemetry","tls":"","proxy":"","x":930,"y":460,"wires":[["9d54dbfb.cc6998"]]},{"id":"9d54dbfb.cc6998","type":"debug","z":"53cf8e.83fcf874","name":"Message returned from link","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":460,"wires":[]},{"id":"f91e3919.47f008","type":"file in","z":"53cf8e.83fcf874","name":"JSON Occupation","filename":"/home/noumena/Documents/DT/Digital_Twin/src/JSON_Occupancy/template_occ.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":390,"y":460,"wires":[["4d06ad0c.7c2424","2f80d84d.13c9a8"]]},{"id":"d42db40e.54c1f8","type":"inject","z":"53cf8e.83fcf874","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["f91e3919.47f008"]]},{"id":"f6ce5b90.fb5728","type":"debug","z":"53cf8e.83fcf874","name":"JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":380,"wires":[]},{"id":"4d06ad0c.7c2424","type":"json","z":"53cf8e.83fcf874","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":460,"wires":[["3fcdd77f.692da8","f6ce5b90.fb5728"]]},{"id":"2f80d84d.13c9a8","type":"debug","z":"53cf8e.83fcf874","name":"String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]}]